<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.openoffice.ide.eclipse.editors.UnoidlEditor"
            default="true"
            extensions="idl"
            icon="icons/idl_file.gif"
            id="org.openoffice.ide.eclipse.editors.UnoidlEditor"
            name="UNO-IDL Editor"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.openoffice.ide.eclipse.preferences.MainPage"
            name="OpenOffice.org plugin"
            id="org.openoffice.ide.eclipse.preferences.main"/>
      <page
            class="org.openoffice.ide.eclipse.preferences.UnoidlEditorPage"
            category="org.openoffice.ide.eclipse.preferences.main"
            name="UNO-IDL Editor"
            id="org.openoffice.ide.eclipse.preferences.unoidlEditor"/>
      <page
            class="org.openoffice.ide.eclipse.preferences.UnoSDKConfigPage"
            category="org.openoffice.ide.eclipse.preferences.main"
            id="org.openoffice.ide.eclipse.preferences.unosdkconfig"
            name="SDK Configuration"/>
   </extension>
   
    <extension
   		 point="org.eclipse.ui.newWizards">
   	  <category
   	        id="org.openoffice.ide.eclipse"
   	        name="UNO">
   	  </category>
      <wizard
            canFinishEarly="true"
            category="org.openoffice.ide.eclipse"
            class="org.openoffice.ide.eclipse.wizards.NewUnoFileWizard"
            hasPages="true"
            icon="icons/idl_file.gif"
            id="org.openoffice.ide.eclipse.newunofile"
            name="UNO-IDL File"
            project="false"/>
      <wizard
            canFinishEarly="true"
            category="org.openoffice.ide.eclipse"
            class="org.openoffice.ide.eclipse.wizards.NewUnoProjectWizard"
            hasPages="true"
            icon="icons/uno_prj.gif"
            id="org.openoffice.ide.eclipse.newunoproject"
            name="UNO-IDL Project"
            project="true"/>
   </extension>
   <extension
         id="unonature"
         name="UNO Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.openoffice.ide.eclipse.model.UnoidlProject"/>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.openoffice.ide.eclipse.gui.UnoidlDecorator"
            id="org.openoffice.ide.eclipse.decorator"
            label="UNO decorator"
            state="true">
         <enablement>
            <objectClass name="org.eclipse.core.resources.IResource"/>
         </enablement>
         This decorator provides new icons to distinguish UNO-IDL resources from the others.
      </decorator>
   </extension>
</plugin>
