<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.openoffice.ide.eclipse.editors.UnoidlEditor"
            default="true"
            extensions="idl"
            icon="icons/idl_file.gif"
            id="org.openoffice.ide.eclipse.editors.UnoidlEditor"
            name="%idleditor.name"/>
      <editor
            class="org.openoffice.ide.eclipse.editors.RegEditor"
            default="true"
            extensions="rdb, urd"
            icon="icons/db_file.gif"
            id="org.openoffice.ide.eclipse.editors.regvieweditor"
            name="%regeditor.name"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.openoffice.ide.eclipse.preferences.MainPage"
            name="%preferences.oooplugin"
            id="org.openoffice.ide.eclipse.preferences.main"/>
      <page
            class="org.openoffice.ide.eclipse.preferences.UnoidlEditorPage"
            category="org.openoffice.ide.eclipse.preferences.main"
            name="%preferences.unoidleditor"
            id="org.openoffice.ide.eclipse.preferences.unoidlEditor"/>
      <page
            class="org.openoffice.ide.eclipse.preferences.UnoSDKConfigPage"
            category="org.openoffice.ide.eclipse.preferences.main"
            id="org.openoffice.ide.eclipse.preferences.unosdkconfig"
            name="%preferences.sdkconfig"/>
   </extension>
   
    <extension
   		 point="org.eclipse.ui.newWizards">
   	  <category
   	        id="org.openoffice.ide.eclipse"
   	        name="%wizards">
   	  </category>
      <wizard
            canFinishEarly="true"
            category="org.openoffice.ide.eclipse"
            class="org.openoffice.ide.eclipse.wizards.NewUnoFileWizard"
            hasPages="true"
            icon="icons/newunofile.gif"
            id="org.openoffice.ide.eclipse.newunofile"
            name="%wizards.unoidlfile"
            project="false"/>
      <wizard
            canFinishEarly="false"
            category="org.openoffice.ide.eclipse"
            class="org.openoffice.ide.eclipse.wizards.NewUnoProjectWizard"
            hasPages="true"
            icon="icons/newunoproject.gif"
            id="org.openoffice.ide.eclipse.newunoproject"
            name="%wizards.unoidlproject"
            project="true"/>
      <wizard
            canFinishEarly="false"
            category="org.openoffice.ide.eclipse"
            class="org.openoffice.ide.eclipse.wizards.NewServiceWizard"
            hasPages="true"
            icon="icons/newservice.gif"
            id="org.openoffice.ide.eclipse.newservice"
            name="%wizards.service"
            project="false"/>
   </extension>
   <extension
         id="unonature"
         name="UNO Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.openoffice.ide.eclipse.model.UnoidlProject"/>
      </runtime>
      <builder id="org.openoffice.ide.eclipse.idlc"/>
	  <builder id="org.openoffice.ide.eclipse.regmerge"/>
	  <builder id="org.openoffice.ide.eclipse.javamaker"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="%newactions.description"
            id="org.openoffice.ide.eclipse.newactions"
            label="%newactions.name"
            visible="true">
         <action
               class="org.openoffice.ide.eclipse.actions.NewUnoProjectAction"
               icon="icons/newunoproject.gif"
               id="org.openoffice.ide.eclipse.newactions.newproject"
               label="%newactions.newproject.name"
               style="push"
               toolbarPath="uno"
               tooltip="%newactions.newproject.tooltip"/>
         <action
               class="org.openoffice.ide.eclipse.actions.NewUnoFileAction"
               icon="icons/newunofile.gif"
               id="org.openoffice.ide.eclipse.newactions.newfile"
               label="%newactions.newfile.name"
               style="push"
               toolbarPath="uno"
               tooltip="%newactions.newfile.tooltip"/>
      </actionSet>
   </extension>
   <extension
         id="idlc"
         name="%builders.idlc"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true"
            isConfigurable="false">
         <run class="org.openoffice.ide.eclipse.builders.IdlcBuilder"/>
      </builder>
   </extension>
   <extension
         id="regmerge"
         name="%builders.regmerge"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true"
            isConfigurable="false">
         <run class="org.openoffice.ide.eclipse.builders.RegmergeBuilder"/>
      </builder>
   </extension>
   <extension
         id="javamaker"
         name="%builders.javamaker"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true"
            isConfigurable="false">
         <run class="org.openoffice.ide.eclipse.builders.JavamakerBuilder"/>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.openoffice.ide.eclipse.gui.UnoidlDecorator"
            id="org.openoffice.ide.eclipse.decorator"
            label="%decorator.name"
            state="true">
         <enablement>
            <objectClass name="org.eclipse.core.resources.IResource"/>
         </enablement>
         <description>
            
         </description>
         %decorator.description
      </decorator>
   </extension>
   <extension
         id="idlcerrormarker"
         name="%idlcerrormarker.name"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.openoffice.ide.eclipse.cheatsheets"
            name="%cheatsheets.name"/>
      <cheatsheet
            category="org.openoffice.ide.eclipse.cheatsheets"
            contentFile="$nl$/doc/cheatsheets/starting.xml"
            id="org.openoffice.ide.eclipse.cheatsheets.starting"
            name="%cheatsheets.starting.name">
         <description>
            %cheatsheets.starting.description
         </description>
      </cheatsheet>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="doc/help/toc.xml"
            primary="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               closeable="true"
               id="org.eclipse.ui.cheatsheets.views.CheatSheetView"
               moveable="true"
               ratio="1.0"
               relationship="right"
               visible="true"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            class="org.openoffice.ide.eclipse.preferences.ProjectPropertiesPage"
            id="org.openoffice.ide.eclipse.projectproperties"
            name="%project.propertypage.name"
            objectClass="org.eclipse.core.resources.IProject">
         <filter
               name="nature"
               value="org.openoffice.ide.eclipse.unonature"/>
      </page>
   </extension>
</plugin>
