<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.openoffice.ide.eclipse.core.language">
      <language
            class="org.openoffice.ide.eclipse.cpp.Language"
            name="C++">
      </language>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="true"
            category="org.openoffice.ide.eclipse.core"
            class="org.openoffice.ide.eclipse.cpp.client.ClientWizard"
            hasPages="true"
            icon="icons/uno_client.gif"
            id="org.openoffice.ide.eclipse.cpp.client"
            name="C++ UNO client application">
      </wizard>
   </extension>

</plugin>
