<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="language" name="%extension-point.name" schema="schema/language.exsd"/>
   <extension-point id="MainProvider" name="%extension-point.name.0" schema="schema/MainProvider.exsd"/>

   <extension
         point="org.eclipse.epp.logging.aeri.ide.servers">
      <server
         id="org.example.aer.loeclipse"
         name="LOEclipse"
         description="Help improve LOEclipse by sending error reports to us."
         class="org.eclipse.epp.internal.logging.aeri.ide.server.mars.ServerConnection"
         icon16="icons/libreoffice_16.png"
         icon32="icons/libreoffice_32.png">
      <link
         rel="provider"
         title="LOEclipse"
         href="https://github.com/LibreOffice/loeclipse"/>
      <link
         rel="discovery"
         title="Discovery URL"
         href="https://aer.ctrlflow.com/loeclipse/community/discovery"/>
    </server>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.libreoffice.ide.eclipse.core.editors.idl.UnoidlEditor"
            default="true"
            extensions="idl"
            icon="icons/idl_file.gif"
            id="org.libreoffice.ide.eclipse.core.editors.UnoidlEditor"
            name="%idleditor.name"/>
      <editor
            class="org.libreoffice.ide.eclipse.core.editors.registry.RegEditor"
            default="true"
            extensions="rdb, urd"
            icon="icons/db_file.gif"
            id="org.libreoffice.ide.eclipse.core.editors.regvieweditor"
            name="%regeditor.name"/>
      <editor
            class="org.libreoffice.ide.eclipse.core.editors.pack.PackagePropertiesEditor"
            default="true"
            filenames="package.properties"
            icon="icons/build_exec.gif"
            id="org.libreoffice.ide.eclipse.core.editors.extproperties"
            name="%package.editor.name"/>
      <editor
            class="org.libreoffice.ide.eclipse.core.editors.description.DescriptionEditor"
            default="true"
            filenames="description.xml"
            icon="icons/build_exec.gif"
            id="org.libreoffice.ide.eclipse.core.editors.description"
            name="%description.editor.name"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.libreoffice.ide.eclipse.core.preferences.MainPage"
            name="%preferences.oooplugin"
            id="org.libreoffice.ide.eclipse.core.preferences.main"/>
      <page
            class="org.libreoffice.ide.eclipse.core.preferences.UnoidlEditorPage"
            category="org.libreoffice.ide.eclipse.core.preferences.main"
            name="%preferences.unoidleditor"
            id="org.libreoffice.ide.eclipse.core.preferences.unoidlEditor"/>
      <page
            class="org.libreoffice.ide.eclipse.core.preferences.UnoSDKConfigPage"
            category="org.libreoffice.ide.eclipse.core.preferences.main"
            id="org.libreoffice.ide.eclipse.core.preferences.unosdkconfig"
            name="%preferences.sdkconfig"/>
   </extension>
   
    <extension
   		 point="org.eclipse.ui.newWizards">
   	  <category
   	        id="org.libreoffice.ide.eclipse.core"
   	        name="%wizards">
   	  </category>
      <wizard
            canFinishEarly="false"
            category="org.libreoffice.ide.eclipse.core"
            hasPages="true"
            icon="icons/newunoproject.gif"
            id="org.libreoffice.ide.eclipse.core.newunoproject"
            name="%wizards.unoidlproject"
            project="true">
         <class class="org.libreoffice.ide.eclipse.core.wizards.NewUnoProjectWizard">
         	<parameter name="unoproject" value="true"/>
         </class>
         <description>
            %wizard.component.description
         </description>
      </wizard>
      <wizard
            canFinishEarly="false"
            category="org.libreoffice.ide.eclipse.core"
            hasPages="true"
            icon="icons/newservice.gif"
            id="org.libreoffice.ide.eclipse.core.newservice"
            name="%wizards.service"
            project="false">
         <class class="org.libreoffice.ide.eclipse.core.wizards.NewServiceWizard">
         	<parameter name="unotype" value="true"/>
         </class>
         <description>
            %wizard.service.description
         </description>
      </wizard>
      <wizard
            canFinishEarly="false"
            category="org.libreoffice.ide.eclipse.core"
            hasPages="true"
            icon="icons/newinterface.gif"
            id="org.libreoffice.ide.eclipse.core.newinterface"
            name="%wizards.interface"
            project="false">
         <class class="org.libreoffice.ide.eclipse.core.wizards.NewInterfaceWizard">
         	<parameter name="unotype" value="true"/>
         </class>
         <description>
            %wizard.interface.description
         </description>
      </wizard>
      <wizard
            canFinishEarly="true"
            category="org.libreoffice.ide.eclipse.core"
            hasPages="true"
            icon="icons/new_ure_app.gif"
            id="org.libreoffice.ide.eclipse.core.newureapp"
            name="%wizard.ure.name"
            project="true">
         <class class="org.libreoffice.ide.eclipse.core.wizards.NewUreAppWizard">
         	<parameter name="unoproject" value="true"/>
         </class>
         <description>
            %wizard.ure.description
         </description>
      </wizard>
   </extension>
   <extension
         id="unonature"
         name="%nature.name"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.libreoffice.ide.eclipse.core.internal.model.UnoidlProject"/>
      </runtime>
	  <builder id="org.libreoffice.ide.eclipse.core.types"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="%newactions.description"
            id="org.libreoffice.ide.eclipse.core.newactions"
            label="%newactions.name"
            visible="true">
         <action
               class="org.libreoffice.ide.eclipse.core.actions.UnoProjectPulldownAction"
               icon="icons/newunoproject.gif"
               id="org.libreoffice.ide.eclipse.core.newactions.newproject"
               label="%newactions.newproject.name"
               style="pulldown"
               toolbarPath="uno"
               tooltip="%newactions.newproject.tooltip"/>
         <action
               class="org.libreoffice.ide.eclipse.core.actions.UnoTypePulldownAction"
               icon="icons/newservice.gif"
               id="org.libreoffice.ide.eclipse.core.newactions.newtype"
               label="%action.service.label"
               style="pulldown"
               toolbarPath="uno"
               tooltip="%action.service.tooltip"/>
      </actionSet>
   </extension>
   <extension
         id="types"
         name="%builders.types"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true"
            isConfigurable="false">
         <run class="org.libreoffice.ide.eclipse.core.builders.TypesBuilder"/>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.libreoffice.ide.eclipse.core.gui.UnoidlDecorator"
            id="org.libreoffice.ide.eclipse.core.decorator"
            label="%decorator.name"
            state="true">
         <enablement>
            <objectClass name="org.eclipse.core.resources.IResource"/>
         </enablement>
         <description>
            
         </description>
         %decorator.description
      </decorator>
   </extension>
   <extension
         id="idlcerrormarker"
         name="%idlcerrormarker.name"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true"/>
   </extension>
   

   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.libreoffice.ide.eclipse.core.cheatsheets"
            name="%cheatsheets.name"/>
	  <!-- Uncomment when the cheatsheet will be reworked
      <cheatsheet
            category="org.libreoffice.ide.eclipse.core.cheatsheets"
            contentFile="$nl$/doc/cheatsheets/starting.xml"
            id="org.libreoffice.ide.eclipse.core.cheatsheets.starting"
            name="%cheatsheets.starting.name">
         <description>
            %cheatsheets.starting.description
         </description>
      </cheatsheet>
      -->
   </extension>
 
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="doc/help/toc.xml"
            primary="true"/>
      <toc
            file="doc/help/html/devdoc/starting/toc.xml"
            primary="true"/>
      <toc
            file="doc/help/html/devdoc/extending/toc.xml"
            primary="true"/>
      <toc
            file="doc/help/html/userdoc/javatuto/toc.xml"
            primary="true"/>
      <toc
            file="doc/help/html/userdoc/uretuto/toc.xml"
            primary="true"/>
      <toc
            file="doc/help/html/userdoc/pythontuto/toc.xml"
            primary="true"/>
            
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               closeable="true"
               id="org.eclipse.ui.cheatsheets.views.CheatSheetView"
               moveable="true"
               ratio="1.0"
               relationship="right"
               visible="true"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.libreoffice.ide.eclipse.core.preferences.ProjectPropertiesPage"
            id="org.libreoffice.ide.eclipse.core.projectproperties"
            name="%project.propertypage.name">
         <filter
               name="nature"
               value="org.libreoffice.ide.eclipse.core.unonature"/>
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.libreoffice.ide.eclipse.core.launch.UreLaunchDelegate"
            id="org.libreoffice.ide.eclipse.core.launchUreApplication"
            modes="run"
            name="%launch.ure"/>
      <launchConfigurationType
            delegate="org.libreoffice.ide.eclipse.core.launch.office.OfficeLaunchDelegate"
            delegateDescription="The Open Office launcher supports running and remote debugging Open Office extensions."
            delegateName="Open Office Launcher"
            id="org.libreoffice.ide.eclipse.core.launchlibreoffice"
            modes="run,debug"
            name="%launch.libreoffice">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.libreoffice.ide.eclipse.core.launch.LaunchConfigurationTabs"
            id="org.libreoffice.ide.eclipse.core.launchConfigurationTabGroup1"
            type="org.libreoffice.ide.eclipse.core.launchUreApplication"/>
      <launchConfigurationTabGroup
            class="org.libreoffice.ide.eclipse.core.launch.office.LaunchConfigurationTabs"
            id="org.libreoffice.ide.eclipse.core.OfficeLlaunchConfigurationTabGroup1"
            type="org.libreoffice.ide.eclipse.core.launchlibreoffice">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.libreoffice.ide.eclipse.core.launchUreApplication"
            icon="icons/ure_app.gif"
            id="org.libreoffice.ide.eclipse.core.UreLaunchIcon"/>
      <launchConfigurationTypeImage
            configTypeID="org.libreoffice.ide.eclipse.core.launchlibreoffice"
            icon="icons/libreoffice_16.png"
            id="org.libreoffice.ide.eclipse.core.OfficeLaunchIcon">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="org.libreoffice.ide.eclipse.core.uno"
            name="%wizards"/>
      <wizard
            category="org.libreoffice.ide.eclipse.core.uno"
            class="org.libreoffice.ide.eclipse.core.wizards.PackageExportWizard"
            icon="/icons/export_package.gif"
            id="org.libreoffice.ide.eclipse.core.export.package"
            name="%wizards.export"/>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup class="org.libreoffice.ide.eclipse.core.ResourceChangesHandler"/>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
         <!-- The xba and xdl types should have their own editor someday -->
      <file-association
            content-type="org.eclipse.core.runtime.xml"
            file-extensions="xcu,xcs,xlb,xba,xdl">
      </file-association>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.libreoffice.ide.eclipse.core.objectContribution1"
            nameFilter="package.properties"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.libreoffice.ide.eclipse.core.actions.ConvertToManifestAction"
               enablesFor="1"
               id="org.libreoffice.ide.eclipse.core.actions.create_manifest"
               label="%action.tomanifest">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.libreoffice.ide.eclipse.core.launch.office.OfficeLaunchShortcut"
            icon="icons/libreoffice_16.png"
            id="org.libreoffice.ide.eclipse.core.launch.shortcut"
            label="LibreOffice extension"
            modes="run, debug">
         <contextualLaunch>
            <enablement>
               <with variable="selection">
                  <count value="1" />
                  <iterate>
                     <and>
                        <adapt type="org.eclipse.core.resources.IProject" />
                        <test property="org.eclipse.debug.ui.projectNature"
                              value="org.libreoffice.ide.eclipse.core.unonature" />
                     </and>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
         <configurationType id="org.libreoffice.ide.eclipse.core.launchlibreoffice" />
      </shortcut>
   </extension>
</plugin>
