<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="language" name="Uno-idl project language binding Extension point" schema="schema/language.exsd"/>
   <extension-point id="MainProvider" name="Provides XMain implementations for different languages" schema="schema/MainProvider.exsd"/>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.openoffice.ide.eclipse.core.editors.UnoidlEditor"
            default="true"
            extensions="idl"
            icon="icons/idl_file.gif"
            id="org.openoffice.ide.eclipse.core.editors.UnoidlEditor"
            name="%idleditor.name"/>
      <editor
            class="org.openoffice.ide.eclipse.core.editors.RegEditor"
            default="true"
            extensions="rdb, urd"
            icon="icons/db_file.gif"
            id="org.openoffice.ide.eclipse.core.editors.regvieweditor"
            name="%regeditor.name"/>
      <editor
            class="org.openoffice.ide.eclipse.core.editors.PackagePropertiesEditor"
            default="true"
            filenames="package.properties,description.xml"
            icon="icons/build_exec.gif"
            id="org.openoffice.ide.eclipse.core.editors.extproperties"
            name="Extension properties editor"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.openoffice.ide.eclipse.core.preferences.MainPage"
            name="%preferences.oooplugin"
            id="org.openoffice.ide.eclipse.core.preferences.main"/>
      <page
            class="org.openoffice.ide.eclipse.core.preferences.UnoidlEditorPage"
            category="org.openoffice.ide.eclipse.core.preferences.main"
            name="%preferences.unoidleditor"
            id="org.openoffice.ide.eclipse.core.preferences.unoidlEditor"/>
      <page
            class="org.openoffice.ide.eclipse.core.preferences.UnoSDKConfigPage"
            category="org.openoffice.ide.eclipse.core.preferences.main"
            id="org.openoffice.ide.eclipse.core.preferences.unosdkconfig"
            name="%preferences.sdkconfig"/>
   </extension>
   
    <extension
   		 point="org.eclipse.ui.newWizards">
   	  <category
   	        id="org.openoffice.ide.eclipse.core"
   	        name="%wizards">
   	  </category>
      <wizard
            canFinishEarly="true"
            category="org.openoffice.ide.eclipse.core"
            class="org.openoffice.ide.eclipse.core.wizards.NewUnoFileWizard"
            hasPages="true"
            icon="icons/newunofile.gif"
            id="org.openoffice.ide.eclipse.core.newunofile"
            name="%wizards.unoidlfile"
            project="false">
         <description>
            Create a new UNO specification file. Please use this wizard with care: you should better run the type-specific wizards if they exists.
         </description>
      </wizard>
      <wizard
            canFinishEarly="false"
            category="org.openoffice.ide.eclipse.core"
            hasPages="true"
            icon="icons/newunoproject.gif"
            id="org.openoffice.ide.eclipse.core.newunoproject"
            name="%wizards.unoidlproject"
            project="true">
         <class class="org.openoffice.ide.eclipse.core.wizards.NewUnoProjectWizard">
         	<parameter name="unoproject" value="true"/>
         </class>
         <description>
            Create an empty UNO component with a service and it's implementation.
         </description>
      </wizard>
      <wizard
            canFinishEarly="false"
            category="org.openoffice.ide.eclipse.core"
            hasPages="true"
            icon="icons/newservice.gif"
            id="org.openoffice.ide.eclipse.core.newservice"
            name="%wizards.service"
            project="false">
         <class class="org.openoffice.ide.eclipse.core.wizards.NewServiceWizard">
         	<parameter name="unotype" value="true"/>
         </class>
         <description>
            Creates a new 'new-styled' UNO service. A service will export one interface and define some constructors.
         </description>
      </wizard>
      <wizard
            canFinishEarly="false"
            category="org.openoffice.ide.eclipse.core"
            hasPages="true"
            icon="icons/newinterface.gif"
            id="org.openoffice.ide.eclipse.core.newinterface"
            name="%wizards.interface"
            project="false">
         <class class="org.openoffice.ide.eclipse.core.wizards.NewInterfaceWizard">
         	<parameter name="unotype" value="true"/>
         </class>
         <description>
            Create an new UNO interface. An interface is a set of related methods and properties that will be used by a service.
         </description>
      </wizard>
      <wizard
            canFinishEarly="true"
            category="org.openoffice.ide.eclipse.core"
            hasPages="true"
            icon="icons/new_ure_app.gif"
            id="org.openoffice.ide.eclipse.core.newureapp"
            name="New URE based Application"
            project="true">
         <class class="org.openoffice.ide.eclipse.core.wizards.NewUreAppWizard">
         	<parameter name="unoproject" value="true"/>
         </class>
         <description>
            Create an URE based application. This wizard will create the basic skeleton to run an application featuring UNO component model.
         </description>
      </wizard>
   </extension>
   <extension
         id="unonature"
         name="UNO Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.openoffice.ide.eclipse.core.internal.model.UnoidlProject"/>
      </runtime>
	  <builder id="org.openoffice.ide.eclipse.core.types"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            description="%newactions.description"
            id="org.openoffice.ide.eclipse.core.newactions"
            label="%newactions.name"
            visible="true">
         <action
               class="org.openoffice.ide.eclipse.core.actions.UnoProjectPulldownAction"
               icon="icons/newunoproject.gif"
               id="org.openoffice.ide.eclipse.core.newactions.newproject"
               label="%newactions.newproject.name"
               style="pulldown"
               toolbarPath="uno"
               tooltip="%newactions.newproject.tooltip"/>
         <action
               class="org.openoffice.ide.eclipse.core.actions.UnoTypePulldownAction"
               icon="icons/newservice.gif"
               id="org.openoffice.ide.eclipse.core.newactions.newtype"
               label="New Uno Service"
               style="pulldown"
               toolbarPath="uno"
               tooltip="Create a UNO Service"/>
         <!--
         <action
               class="org.openoffice.ide.eclipse.core.actions.NewUnoFileAction"
               icon="icons/newunofile.gif"
               id="org.openoffice.ide.eclipse.core.newactions.newfile"
               label="%newactions.newfile.name"
               style="push"
               toolbarPath="uno"
               tooltip="%newactions.newfile.tooltip"/>
         -->
      </actionSet>
   </extension>
   <extension
         id="types"
         name="%builders.types"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true"
            isConfigurable="false">
         <run class="org.openoffice.ide.eclipse.core.builders.TypesBuilder"/>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="true"
            class="org.openoffice.ide.eclipse.core.gui.UnoidlDecorator"
            id="org.openoffice.ide.eclipse.core.decorator"
            label="%decorator.name"
            state="true">
         <enablement>
            <objectClass name="org.eclipse.core.resources.IResource"/>
         </enablement>
         <description>
            
         </description>
         %decorator.description
      </decorator>
   </extension>
   <extension
         id="idlcerrormarker"
         name="%idlcerrormarker.name"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true"/>
   </extension>
   
 <!-- Uncomment when the cheatsheet will be reworked
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.openoffice.ide.eclipse.core.cheatsheets"
            name="%cheatsheets.name"/>
      <cheatsheet
            category="org.openoffice.ide.eclipse.core.cheatsheets"
            contentFile="$nl$/doc/cheatsheets/starting.xml"
            id="org.openoffice.ide.eclipse.core.cheatsheets.starting"
            name="%cheatsheets.starting.name">
         <description>
            %cheatsheets.starting.description
         </description>
      </cheatsheet>
   </extension>
 -->
 
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="doc/help/toc.xml"
            primary="true"/>
      <toc
            file="doc/help/html/devdoc/starting/toc.xml"
            primary="true"/>
      <toc
            file="doc/help/html/devdoc/extending/toc.xml"
            primary="true"/>
      <toc
            file="doc/help/html/userdoc/javatuto/toc.xml"
            primary="true"/>
      <toc
            file="doc/help/html/userdoc/uretuto/toc.xml"
            primary="true"/>
            
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               closeable="true"
               id="org.eclipse.ui.cheatsheets.views.CheatSheetView"
               moveable="true"
               ratio="1.0"
               relationship="right"
               visible="true"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            adaptable="true"
            class="org.openoffice.ide.eclipse.core.preferences.ProjectPropertiesPage"
            id="org.openoffice.ide.eclipse.core.projectproperties"
            name="%project.propertypage.name"
            objectClass="org.eclipse.core.resources.IProject">
         <filter
               name="nature"
               value="org.openoffice.ide.eclipse.core.unonature"/>
      </page>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.openoffice.ide.eclipse.core.launch.UreLaunchDelegate"
            id="org.openoffice.ide.eclipse.core.launchUreApplication"
            modes="run"
            name="URE Application"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.openoffice.ide.eclipse.core.launch.LaunchConfigurationTabs"
            id="org.openoffice.ide.eclipse.core.launchConfigurationTabGroup1"
            type="org.openoffice.ide.eclipse.core.launchUreApplication"/>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.openoffice.ide.eclipse.core.launchUreApplication"
            icon="icons/ure_app.gif"
            id="org.openoffice.ide.eclipse.core.UreLaunchIcon"/>
   </extension>
   <extension
         point="org.eclipse.ui.exportWizards">
      <category
            id="org.openoffice.ide.eclipse.core.uno"
            name="UNO"/>
      <wizard
            category="org.openoffice.ide.eclipse.core.uno"
            class="org.openoffice.ide.eclipse.core.wizards.PackageExportWizard"
            icon="/icons/export_package.gif"
            id="org.openoffice.ide.eclipse.core.export.package"
            name="OpenOffice.org package"/>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup class="org.openoffice.ide.eclipse.core.ResourceChangesHandler"/>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <file-association
            content-type="org.eclipse.core.runtime.xml"
            file-extensions="xcu,xcs">
      </file-association>
   </extension>
</plugin>
