<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.openoffice.ide.eclipse.core.language">
      <language
            class="org.openoffice.ide.eclipse.java.Language"
            name="Java">
         <newWizardPage
               class="org.openoffice.ide.eclipse.java.JavaWizardPage">
         </newWizardPage>
         <exportBuildPart
               class="org.openoffice.ide.eclipse.java.export.JavaExportPart">
         </exportBuildPart>
      </language>
   </extension>
   <extension
         id="org.openoffice.ide.eclipse.java.builder"
         point="org.eclipse.core.resources.builders">
      <builder/>
   </extension>
   <extension
         point="org.openoffice.ide.eclipse.core.MainProvider">
      <MainProvider class="org.openoffice.ide.eclipse.java.JavaMainProvider"/>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup class="org.openoffice.ide.eclipse.java.JavaUnoResourceChangeHandler"/>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.openoffice.ide.eclipse.java.build.OooClasspathContainerInitializer"
            id="org.openoffice.ide.eclipse.java.OOO_CONTAINER">
      </classpathContainerInitializer>
      <classpathContainerInitializer
            class="org.openoffice.ide.eclipse.java.client.JODContainer"
            id="org.openoffice.ide.eclipse.java.JOD_CONTAINER">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            class="org.openoffice.ide.eclipse.java.build.OOoContainerPage"
            id="org.openoffice.ide.eclipse.java.OOO_CONTAINER"
            name="OpenOffice.org Libraries">
      </classpathContainerPage>
      <classpathContainerPage
            class="org.openoffice.ide.eclipse.java.client.JODContainerPage"
            id="org.openoffice.ide.eclipse.java.JOD_CONTAINER"
            name="OpenOffice.org UNO connector">
      </classpathContainerPage>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="org.openoffice.ide.eclipse.core"
            class="org.openoffice.ide.eclipse.java.client.ClientWizard"
            hasPages="true"
            icon="icons/uno_client.png"
            id="org.openoffice.ide.eclipse.java.client"
            name="Java UNO client application"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <cheatsheet
            category="org.openoffice.ide.eclipse.core.cheatsheets"
            composite="false"
            contentFile="doc/cheatsheets/unoclient.xml"
            id="org.openoffice.ide.eclipse.java.unoclient"
            name="Create a Java UNO client">
      </cheatsheet>
   </extension>

</plugin>
