<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.libreoffice.ide.eclipse.core.language">
      <language
            class="org.libreoffice.ide.eclipse.python.Language"
            name="Python">
      </language>
   </extension>
   <extension
         id="org.libreoffice.ide.eclipse.python.builder"
         point="org.eclipse.core.resources.builders">
      <builder/>
   </extension>
   
   <extension
         point="org.eclipse.ui.startup">
      <startup class="org.libreoffice.ide.eclipse.python.PythonUnoResourceChangeHandler"/>
   </extension>

</plugin>
